
.inside{
    border: 1px solid none;
    color: white;
    height: 1500px;
    width: 1500px;
    margin: 0 auto;
}
.header{
    margin: 0 auto;
    font-family: 'Jura', sans-serif;
    color: #ff4d88;
}
body{
    background-image: url("img/world (2).png");
}
.header{
    margin: 0 auto;
    text-align: center;
}


.flex-container{
    border: 1px solid none;
    color: brown;
    display: flex;
    font-family: 'Lobster', cursive;
    padding: 0.5em 0 0.5em 0;
    width: 78em;
    height: 78em;
    flex-flow:  wrap;
    flex: 1 1 15vw;
    margin: 0 auto;
}

.flex-item{
    background-color: none;
    border: 1px solid none;
    border-radius: 10px;
    text-align: center;
    height:20em;
    width: 20em;
    line-height: 20em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    color: #ff8000;
    font-size: larger;
    font-family: 'Lobster', cursive;

}
.card{
    height:20em;
    width: 20em;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}
.front,
.back{
    height:20em;
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
    position: absolute;
}

.front{
    background:Aqua;
    z-index: 2;
    backface-visibility: hidden;
}

.back{
    background: 	#a7adba;
    z-index: 1;
    transform: rotateY(180deg);
}
.flex-item:hover .card{
    transform: rotateY(180deg);
}

.flex-item{
    perspective: 1000px;
}